<%- include('header'); %>

<% if (carts.length === 0) { %>
  <h2 style="color: red; font-family: 'Courier New', Courier, monospace; font-weight: 500;">Cart is empty</h2>
<% } else { %>
  <h3 style="padding-left: 10px; font-weight: 600; color: rgb(32, 169, 32); font-family: 'Courier New', Courier, monospace;">Your cart items</h3>
  
  <section class="shop-content">
    <% carts.forEach(function(product) { %>
      <% if (product && product.title) { %>
        <div class="box-content">
          <h2><%= product.title %></h2>
          <div class="box-img">
            <img id="<%= product._id %>" class="img1" src="images/<%= product.img %>" alt="">
          </div>
          <h5 style="color: black;">Price = <i class="fa-sharp fa-solid fa-indian-rupee-sign"></i><%= product.price %></h5>
          <div class="button-container">
            <form class="buy-form" action="/buy" method="get">
              <button class="indexbutton btn btn-success" name="productId" value="<%= product._id %>" type="submit">Buy Now</button>
            </form>
            <form class="cartdeleteform" action="/delete" method="post">
              <button class="cartbutton btn btn-danger" name="cartbutton" value="<%= product._id %>">Remove</button>
            </form>
          </div>
        </div>
      <% } %>
    <% }) %>
  </section>

  <div style="padding: 10px 40px; display: flex; justify-content: space-between; background-color: rgb(48, 226, 48);">
    <%
    let total = 0;
    carts.forEach(function(product) {
      total += Number(product.price);
    });
    %>
    <h4 style="padding-top: 10px;">Total Price = <i class="fa-sharp fa-solid fa-indian-rupee-sign"> <%= total %></i></h4>
    <a href="/buy" role="button">
      <button class="cartbutton btn btn-danger" name="cartbutton">Buy All</button>
    </a>
  </div>
<% } %>

<%- include('footer'); %>
